<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Ім'я" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Прізвище" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-mail" type="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Пароль" type="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Підтвердіть Пароль" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary">Зареєструватися</button>
</div>
