<form (ngSubmit)="OnSignUp(f)" #f="ngForm" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Ім'я" id="firstName" name="firstName" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Прізвище" id="lastName" name="lastName" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="E-mail" id="email" name="email" type="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Пароль" id="password" name="password" type="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Підтвердіть Пароль" id="confirmPassword" name="confirmPassword" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Зареєструватися</button>
</form>
