<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <a routerLink="groups">Групи </a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a routerLink="attendances">Відвідуваність </a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
    <div>
      <app-authentication-monitoring></app-authentication-monitoring>
    </div>
  </div>
</div>
