<div class="container">
  <div class="Attendances-options-toolbar">
    <div>
      <!-- <Form.Group controlId="getGroupMentors">
        <InputGroup>
          <InputGroup.Prepend>
            <InputGroup.Text>Група</InputGroup.Text>
          </InputGroup.Prepend>
          <Form.Control as="select" className="custom-select" onChange={this.onSelectedGroup}>
            <option selected>Оберіть групу</option>
            {this.state.groups.map(
            group =>
            <option key={group.groupId} groupid={group.groupId}>
              {group.groupDirection} {group.groupLevel}
            </option>
            )}
          </Form.Control>
        </InputGroup>
      </Form.Group>  -->
    </div>
    <div>
      <!-- <Form.Group controlId="getGroupMentors">
        <InputGroup>
          <InputGroup.Prepend>
            <InputGroup.Text>Період</InputGroup.Text>
          </InputGroup.Prepend>
          <Form.Control as="select" className="custom-select" onChange={this.onSelectedMonth}>
            <option selected>{currMonth}</option>
            {this.state.monthes.map(month =>
            <option key={month.key} month={month.key}>
              {month.name}
            </option>)}
          </Form.Control>
          <Form.Control as="select" className="custom-select" onChange={this.onSelectedYear}>
            <option selected>{currYear}</option>
            {this.state.years.map(year =>
            <option key={year.key} year={year.key}>
              {year.name}
            </option>)}
          </Form.Control>
        </InputGroup>
      </Form.Group> -->
    </div>
    <div>
      <!-- {this.props.roleName === 'Student'
      ? null
      :<Button onClick={this.showAddNewLessonModal} disabled={this.state.groupId < 1}>
        Додати заняття
      </Button>} -->

      <!-- <AddNewLessonModal groupId={this.state.groupId} isOpen={this.state.isAddNewLessoModalOpen}
        showModal={this.showAddNewLessonModal} closeModal={this.closeAddNewLessonModal}
        students={this.state.students} /> -->
    </div>
  </div>
  <br />
  <div>
    <table class="bordered">
      <thead>
        <tr>
          <th>Студенти</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
