<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Номер телефону</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentsNotInGroup" (click)="selectStudent(student?.id)"
        [class.active]="student.id===studentIdToAdd">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <button type="button" class="btn btn-success" [disabled]="!isStudentSelected" (click)="addStudentToGroup()">Додати
    студента</button>
  <button type="button" class="btn btn-danger" (click)="close()">Закрити</button>
</div>
